.guest-lesson-div{

    min-height: 200px;
    height: auto;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 74%, rgba(0,245,255,1) 91%, rgba(0,245,255,1) 100%);
}